# SQL - Fundamentals

## Introduction

In this lesson, we'll run through some practice questions to practice SQL queries.

## Objectives

In this session you will:

1. Practice interpreting "word problems" and translating them into SQL queries
2. Query a database for table meta-information
3. Order and limit results
4. Aggregate and have SQL perform arithmetic on results
5. Use subqueries and joins to combine data from multiple tables

## Your Task: Querying Census Data

<img src="images/polynesian.jpg" style="width:500px;">

Photo by <a href="https://unsplash.com/@davidclode?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">David Clode</a> on <a href="https://unsplash.com/s/photos/polynesian?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  

### Business Understanding

A Polynesian identifying presidential candidate in the year 2016, whom is also a Hollywood star and former professional wrestler. would like to appeal to Pacific Islanders to vote for them.  While he is not the only actor/wrestler in the running, he believes his background will help him win this demographic.  He would like to know more Pacific Islanders in the United States, especially where they tend to live.  

### Data Understanding

This database is provided by [Public Affairs Data Journalism at Stanford](http://2016.padjo.org/tutorials/sqlite-data-starterpacks/#toc-american-community-survey-1-year-data-for-2015) and it represents census data from the year 2015.

You do not have a entity relations diagram, but I will say that `state` is the only key that can be used to join the tables.  It is present in all 3 tables in this database.

## 0. Import packages you will need

Import the libraries you'll need to connect to an sqlite database and import results into a dataframe.

In [32]:
import sqlite3
import pandas as pd

## 1. Explore the Data


Open a connection to the dataframe

What are the columns and data types in each table?  

Print the columns and datatypes.

In [33]:
query = """
SELECT *
FROM sqlite_master
;
"""

schema = pd.read_sql(query, conn)
print(schema['sql'][0])
print(schema['sql'][1])
print(schema['sql'][2])

CREATE TABLE states (
    year INTEGER ,
    name TEXT ,
    geo_id TEXT ,
    total_population INTEGER ,
    white INTEGER ,
    black INTEGER ,
    hispanic INTEGER ,
    asian INTEGER ,
    american_indian INTEGER ,
    pacific_islander INTEGER ,
    other_race INTEGER ,
    median_age FLOAT ,
    total_households INTEGER ,
    owner_occupied_homes_median_value INTEGER ,
    per_capita_income INTEGER ,
    median_household_income INTEGER ,
    below_poverty_line INTEGER,
    foreign_born_population INTEGER,
    state TEXT
)
CREATE TABLE congressional_districts (
    year INTEGER ,
    name TEXT ,
    geo_id TEXT ,
    total_population INTEGER ,
    white INTEGER ,
    black INTEGER ,
    hispanic INTEGER ,
    asian INTEGER ,
    american_indian INTEGER ,
    pacific_islander INTEGER ,
    other_race INTEGER ,
    median_age FLOAT ,
    total_households INTEGER ,
    owner_occupied_homes_median_value INTEGER ,
    per_capita_income INTEGER ,
    median_household_income INTEGER ,
    below_poverty_line INTEGER,
    foreign_born_population INTEGER,
    state TEXT,
    congressional_district TEXT
)
CREATE TABLE places (
    year INTEGER ,
    name TEXT ,
    geo_id TEXT ,
    total_population INTEGER ,
    white INTEGER ,
    black INTEGER ,
    hispanic INTEGER ,
    asian INTEGER ,
    american_indian INTEGER ,
    pacific_islander INTEGER ,
    other_race INTEGER ,
    median_age FLOAT ,
    total_households INTEGER ,
    owner_occupied_homes_median_value INTEGER ,
    per_capita_income INTEGER ,
    median_household_income INTEGER ,
    below_poverty_line INTEGER,
    foreign_born_population INTEGER,
    state TEXT,
    place TEXT
)

### This dataset is actually rather small, but we are going to pretend it is very large, too large to hold in memory all at once.  We will be viewing the data we return in dataframes, but we will use SQL to do all the manipulations.

## Part 1: Basic Queries

Select the top 5 rows of each of the three tables.

Which states have the most Pacific Islanders living in them?  Return the top 10, ranked by most to least.

# Part 2: Arithmetic Functions

How many Pacific Islanders lived in the US in 2015?

Which 10 states have the highest percentage of their total population as Pacific Islanders?  

You can use `cast(column as float)` to change the type of a `column` to a `float`.  This will be necessary for the arithmetic needed.

# Part 3: Conditionals and Subqueries

How many total Pacific Islanders live in the 10 states most Pacific Islanders?

Which 10 places in California have the greatest percentage of their population identifying as Pacific Islanders?

# Part 4. Joins

Which congressional districts in America have no Pacific Islanders living there?  

**Order them alphabetically by state.**

Include any districts with missing values as well.

Close your connection to the database.

# Part 5. Groupby

How many congressional districts in each state have no Pacific Islanders living in them?

Return only districts with more than one district without Pacific Islanders.

Order the results by number of congressional distratics with no Pacific Islanders.

# Great work!  

### Don't forget to close your connection!!

## Summary

In this lesson, we produced several data queries for a model car company, mainly focused around its customer data. Along the way, we reviewed many of the major concepts and keywords associated with SQL `SELECT` queries: `FROM`, `WHERE`, `GROUP BY`, `HAVING`, `ORDER BY`, `JOIN`, `SUM`, `COUNT`, and `AVG`.

# [Exit Ticket](https://docs.google.com/forms/d/e/1FAIpQLScVX-8y_vNLjaxFry_wWacl2a8NhvznAQvNkmiuXmxQ6b_wKg/viewform?usp=sf_link)